.jo-btn-row {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  & > button {
    margin-top: 1.6rem;
  }

  @media only screen and (max-width: $media-sm) {
    font-size: 1.6rem;
  }
}

