$btn-primary-color: yellowgreen;
$btn-secondary-color: lightgray;
$btn-danger-color: orange;

$primary-color: #4caf50;
$primary-color-light: #a5d6a7;
$primary-color-dark: #2e7d32;
$accent-color: #ffc107;
$accent-color-light: #ffe082;
$accent-color-dark: #ff8f00;
$warn-color: #f44336;
$warn-color-light:  #ef9a9a;
$warn-color-dark: #c62828;

$err-text-color: red;

$nice-dark-color: #363C43;
$background-color-dark: #303030;

$media-xs: 599px;
$media-sm: 959px;
$media-md: 1279px;
$media-lg: 1919px;
$media-xl: 5000px;

