<mat-card>
  <mat-card-title class="jo-table--title" i18n>Umsätze</mat-card-title>
  <mat-card-content>
    <div class="table">
      <div class="table-header">
        <div *ngFor="let col of getHeaderLine()" class="table-cell table-cell--header">{{col}}</div>
      </div>
      <div *ngFor="let revenue of revenues" class="table-line">
        <div class="table-cell table-cell--header">{{revenue.year}}</div>
        <div *ngFor="let month of getMonths(revenue)" class="table-cell">{{month | number: '1.0-0'}}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
