
.table {
  display: grid;

  @media only screen and (max-width: 959px) {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
  }
}

.table-header,
.table-line {
  display: grid;

  &:first-of-type {
    border-left: 1px solid darken(white, 25%);
  }

  @media only screen and (max-width: 959px) {
    border-bottom: 1px solid darken(white, 25%);
  }

  @media only screen and (min-width: 960px) {
    border-left: 1px solid darken(white, 25%);
    grid-template-columns: repeat(14,calc(100% / 14));
  }
}

div.table-line:last-of-type {
  @media only screen and (min-width: 960px) {
    border-bottom: 1px solid darken(white, 25%);
  }
}

.table-cell {
  padding: 1rem 2rem;
  border-top: 1px solid darken(white, 25%);
  border-right: 0.5px solid darken(white, 25%);
  text-align: right;

  &--header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
  }
}
