<section class="jo-navi">
  <mat-sidenav-container class="jo-page">
    <mat-sidenav #sidenav role="navigation">
      <jo-navi-sidebar [auth$]="auth$" (close)="sidenav.close()"></jo-navi-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <jo-navi-header [auth$]="auth$" [user]="user$ | async" (toggle)="sidenav.toggle()"></jo-navi-header>
      <main class="jo-main">
        <router-outlet></router-outlet>
        <div  *ngIf="isSpinning$ | async" class="jo-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
