<form #form="ngForm">
  <h1 mat-dialog-title>{{getTitle()}}</h1>
  <mat-dialog-content fxLayout="column">
    <button mat-raised-button color="primary" (click)="fileInput.click()">{{getSelectButtonCaption()}}</button>
    <input hidden type="file" #fileInput (change)="onImageSelected($event)">
    <mat-form-field>
      <input matInput name="name" [(ngModel)]="fileName" required placeholder="Datei" i18n-placeholder="Datei" >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!form.valid" (click)="onImageUpload()">
      <span i18n>Hochladen</span>
    </button>
    <button mat-button mat-dialog-close>
      <span i18n>Abbrechen</span>
    </button>
  </mat-dialog-actions>
</form>

