@import '../../../sass/variables';

mat-cell {
  & > a.mat-button {
    min-width: 4rem;
    padding: 0 0.5rem;

    @media only screen and (max-width: $media-sm) {
      padding-left: 0.5rem;
    }
  }

  @media only screen and (min-width: $media-md) {
    &[fxhide\.lt-md] {
      display: flex !important;
    }
  }

  @media only screen and (max-width: $media-sm) {
    font-size: 1.6rem;
  }

  &:first-of-type {
    @media only screen and (max-width: $media-sm) {
      padding-left: 1rem;
    }
  }

  @media only screen and (max-width: $media-sm) {
    font-size: 1.6rem;
  }
}

mat-header-cell {

  @media only screen and (min-width: $media-md) {
    &[fxhide\.lt-md] {
      display: flex !important;
    }
  }

  &:first-of-type {
    @media only screen and (max-width: $media-sm) {
      padding-left: 1rem;
    }
  }
}


.width--sm {
  flex: 0.5;
}

.width--lg {
  flex: 3;
  @media only screen and (max-width: $media-sm) {
    padding-left: 0.5rem;
  }
}

.past-due {
  color: $warn-color-dark;
}

