@import '../../sass/variables';

form {
  padding: 1rem 2rem;

  @media only screen and (max-width: $media-sm) {
    padding: 0;
    .mat-dialog-content {
      padding: 1rem;
    }
  }

  .mat-form-field {
    font-size: 1.6rem;
  }
}
