#contract-form {
  width: 100%;
}

#main-group,
#payment-group,
#discount-group,
#validity-group {
  // margin-bottom: 2.4rem;
  display: flex;
  flex-wrap: wrap;

  & > .form-control:not(:last-child) {
    margin-right: 2.4rem;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
}

#main-group {
  margin-top: 2.4rem;
  padding: 0 2.4rem;
}

#validity-group {
  padding: 0 2.4rem;
}

div.mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

width-full {
  width: 100%;
}
