@import '../../../sass/variables';

form {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

h1 {
  font-size: 1.8rem;
}

.width--xs { width: 4rem; }
.width--sm { width: 8rem; }
.width--md { width: 12rem }
.width--lg { width: 28rem; }
.width--xl { width: 36rem; }

mat-dialog-content {
  overflow: visible;
}

.jo-flex-row {
  display: flex;
  flex-direction: row;

  & > * {
    margin-right: 1rem;
  }

  @media only screen and (max-width: $media-sm) {
    flex-direction: column;
  }
}

.mat-button {
  @media only screen and (max-width: $media-sm) {
    padding: 0;
  }
}


