<form [formGroup]="form" autocomplete="off" novalidate spellcheck="false" id="vat-details-form">
  <h1 mat-dialog-title i18n>Steuersatz pflegen</h1>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput id="taxCode" formControlName="taxCode"
             placeholder="Steuercode"  i18n-placeholder="Steuercode placeholder">
      <mat-error *ngIf="form.get('taxCode').hasError('required')">
        <span i18n>Bitte geben Sie einen Steuercode ein.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="fromPicker"
             formControlName="validFrom"
             placeholder="Gültig ab" i18n-placeholder="Gültig ab placeholder">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
      <mat-error *ngIf="form.get('validFrom').hasError('required')">
        <span i18n>Bitte geben Sie ein Gültigkeitsdatum ein</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="toPicker"
             formControlName="validTo"
             placeholder="Gültig bis" i18n-placeholder="Gültig bis placeholder">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
      <mat-error *ngIf="form.get('validTo').hasError('required')">
        <span i18n>Bitte geben Sie ein Gültigkeitsdatum ein</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="percentage" formControlName="percentage"
             placeholder="Steuersatz %" i18n-placeholder="Steuersatz % plcaeholder">
      <mat-error *ngIf="form.get('percentage').hasError('required')">
        <span i18n>Bitte geben Sie einen Prozentsatz ein</span>
      </mat-error>
      <mat-error *ngIf="form.get('percentage').hasError('pattern')">
        <span i18n>Bitte geben Sie einen gültigen Prozentsatz ein</span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="btn_save" mat-button *ngIf="data.task === 'edit'" [disabled]="!form.valid" (click)="onSave(form)">
      <span i18n>Speichern</span>
    </button>
    <button id="btn_create" mat-button *ngIf="data.task === 'new'" [disabled]="!form.valid" (click)="onSave(form)">
      <span i18n>Anlegen</span>
    </button>
    <button id="btn_addPeriod" mat-button *ngIf="data.task === 'period'" [disabled]="!form.valid" (click)="onSave(form)">
      <span i18n>Periode hinzufügen</span>
    </button>
    <button id="btn_cancel" mat-button mat-dialog-close>
      <span i18n>Abbrechen</span>
    </button>
  </mat-dialog-actions>
</form>
