<form [formGroup]="form" autocomplete="off" novalidate spellcheck="false" id="pw-change-form">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="email" autocomplete="username" placeholder="E-Mail" i18n-placeholder="E-Mail placeholder">
    </mat-form-field>
    <mat-form-field *ngIf="data.task === 'change'">
      <input type="password" matInput formControlName="oldPassword" autocomplete="current-password"
             placeholder="Altes Passwort" i18n-placeholder="Altes Passwort placeholder">
    </mat-form-field>
    <ng-container [formGroup]="passwordConfirm">
      <mat-form-field>
        <input type="password" matInput formControlName="password" autocomplete="new-password"
               placeholder="Neues Passwort" i18n-placeholder="Neues Passwort">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="confirm" autocomplete="new-password"
               placeholder="Neues Passwort bestätigen" i18n-placeholder="Neues Passwort bestätigen placeholder">
        <mat-error *ngIf="form.get('passwordConfirm').hasError('passwordMatch')" i18n>
          Neues Passwort und Bestätigung sind unterschiedlich. Bitte korrigieren Sie ihre Eingaben.
        </mat-error>
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="btn_save" mat-button [disabled]="!form.valid || !form.dirty" (click)="onSave(form)">
      <span i18n>Speichern</span>
    </button>
    <button id="btn_cancel" mat-button mat-dialog-close>
      <span i18n>Abbrechen</span>
    </button>
  </mat-dialog-actions>
</form>

