@import '../../../sass/variables';

#contract-form {
  width: 100%;

  @media only screen and (max-width: $media-sm) {
    .mat-tab-label { height: 4.8rem; font-size: 1.4rem; }
    .mat-tab-label-content { font-size: 1.4rem; }
    .mat-radio-label-content { font-size: 1.4rem; }
    .mat-card-content { font-size: 1.6rem; }
    .mat-card-subtitle { font-size: 1.6rem; }
    mat-expansion-panel-header { height: 6.4rem !important; }
  }
}

#main-group,
#payment-group,
#discount-group,
#validity-group {
  // margin-bottom: 2.4rem;
  display: flex;
  flex-wrap: wrap;

  & > .form-control:not(:last-child) {
    margin-right: 2.4rem;
  }

  @media only screen and (max-width: $media-sm) {
    flex-direction: column;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }
}

#main-group {
  margin-top: 2.4rem;
  padding: 0 2.4rem;
}

#validity-group {
  padding: 0 2.4rem;
}

div.mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

width-full {
  width: 100%;
}

