<form [formGroup]="form" autocomplete="off" novalidate spellcheck="false" id="invoice-form">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">>
    <mat-tab label="Details" i18n-label="Details label">
      <mat-radio-group id="status-group" formControlName="status" aria-label="Rechnungsstatus">
        <mat-radio-button color="accent" value="0" i18n>In Bearbeitung</mat-radio-button>
        <mat-radio-button color="primary" value="1" i18n>versandt</mat-radio-button>
        <mat-radio-button color="primary" value="2" i18n>bezahlt</mat-radio-button>
      </mat-radio-group>
      <div id="main-group">
        <mat-form-field>
          <input matInput [matDatepicker]="picker"
                 formControlName="issuedAt"
                 placeholder="Ausstellungsdatum" i18n-placeholder="Ausstellungsdatum placeholder">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('issuedAt').hasError('required')" i18n>
            Bitte geben Sie ein Ausstellungsdatum ein
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="receiverId" placeholder="Rechnungsempfänger"
                      i18n-placeholder="Rechnungsempfänger placeholder">
            <mat-option *ngFor="let receiver of receivers" [value]="receiver.header.id">
              {{receiver.header.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('receiverId').hasError('required')" i18n>
            Bitte wählen Sie einen Rechnungsempfänger aus
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="billingPeriod" placeholder="Leistungszeitraum"
                 i18n-placeholder="Leistungszeitraum placeholder">
          <mat-error *ngIf="form.get('billingPeriod').hasError('required')" i18n>
            Bitte geben Sie einen Leistungszeitraum ein
          </mat-error>
        </mat-form-field>
      </div>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Vertragsinformationen
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon color="warn" *ngIf="hasError(['contractId', 'billingMethod', 'currency', 'vatPercentage'])">
              error_outline
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div id="contract-group">
          <mat-form-field class="width--lg">
            <mat-select formControlName="contractId" placeholder="Vertrag" i18n-placeholder="Vertrag placeholder">
              <mat-option *ngFor="let contract of contracts" [value]="contract.header.id">
                {{contract.header.id}}: {{contract.header.startDate | date}} - {{contract.header.endDate | date}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('contractId').hasError('required')" i18n>
              Bitte wählen Sie einen Vertrag aus
            </mat-error>
          </mat-form-field>
          <mat-form-field class="width--lg">
            <mat-select id="billingMethod" formControlName="billingMethod"
                        placeholder="Abrechnungsmethode" i18n-placeholder="Abrechnungsmethode placeholder">
              <mat-option [value]="0" i18n>Rechnung</mat-option>
              <mat-option [value]="1" i18n>Gutschriftverfahren</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('billingMethod').hasError('required')" i18n>
              Bitte wählen Sie eine Abrechnunsgmethode aus
            </mat-error>
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput formControlName="currency" placeholder="Währung" i18n-placeholder="Währung placeholder">
            <mat-error *ngIf="form.get('currency').hasError('required')" i18n>
              Bitte geben Sie eine Währung ein
            </mat-error>
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput formControlName="vatPercentage" placeholder="MwSt %" i18n-placeholder="MwSt % placeholder">
            <mat-error *ngIf="form.get('vatPercentage').hasError('required')" i18n>
              Bitte geben Sie MwSt % ein
            </mat-error>
            <mat-error *ngIf="form.get('vatPercentage').hasError('pattern')" i18n>
              Die Eingabe ist ungültig
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Zahlungsbedingungen
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon color="warn"
                      *ngIf="hasError(['paymentTerms', 'paymentMethod', 'cashDiscountDays', 'cashDiscountPercentage', 'dueInDays'])">
              error_outline
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div id="payment-group">
          <mat-form-field class="width--lg">
            <input matInput formControlName="paymentTerms" placeholder="Zahlungsbedingungen"
                   i18n-placeholder="Zahlungsbedingungen placeholder">
            <mat-error *ngIf="form.get('paymentTerms').hasError('required')" i18n>
              Bitte geben Sie Zahlungsbedingungen ein
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="paymentMethod" placeholder="Zahlungsmethode"
                        i18n-placeholder="Zahlungsmethode placeholder">
              <mat-option [value]="0" i18n>Überweisung</mat-option>
              <mat-option [value]="1" i18n>Bankeinzug</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('paymentMethod').hasError('required')" i18n>
              Bitte wählen Sie eine Zahlungsmethode aus
            </mat-error>
          </mat-form-field>
        </div>
        <div id="cashDiscount-group">
          <mat-form-field class="width--md">
            <input matInput formControlName="cashDiscountDays" placeholder="Skontofrist (Tage)"
                   i18n-placeholder="Skontofrist (Tage) placeholder">
            <mat-error *ngIf="form.get('cashDiscountDays').hasError('required')" i18n>
              Bitte geben Sie eine Skontofrist ein
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly [value]="object.cashDiscountDate | date" placeholder="Skontofrist"
                   i18n-placeholder="Skontofrist placeholder">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput formControlName="cashDiscountPercentage" placeholder="Skonto %"
                   i18n-placeholder="Skonto % placeholder">
            <mat-error
              *ngIf="form.get('cashDiscountPercentage').hasError('pattern')" i18n>
              Bitte geben Sie einen gültigen Prozentsatz ein
            </mat-error>
          </mat-form-field>
          <mat-form-field class="width--md">
            <input matInput formControlName="dueInDays" placeholder="Zahlungsziel (Tage)"
                   i18n-placeholder="Zahlungsziel (Tage) placeholder">
            <mat-error *ngIf="form.get('dueInDays').hasError('required')" i18n>
              Bitte geben Sie eine Zahlungsziel ein
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly [value]="object.dueDate | date" placeholder="Zahlungsziel"
                   i18n-placeholder="Zahlungsziel placeholder">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Positionen
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon color="warn" *ngIf="hasError(['items'])">error_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="">
          <jo-invoice-items-form
            formArrayName="items"
            [itemsFormArray]="form.get('items')"
            [object]="object"
            [contract]="invoiceContract"
            [isChangeable]="isChangeable">
          </jo-invoice-items-form>
          <mat-error *ngIf="form.get('items').hasError('minItems')" i18n>
            Bitte geben Sie mindestens eine Position ein.
          </mat-error>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Summen
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div id="totals-group">
          <mat-form-field class="width--sm">
            <input matInput readonly [value]="object.netValue | number: '1.2-2'" placeholder="Nettobetrag"
                   i18n-placeholder="Nettobetrag placeholder">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput readonly [value]="object.vatAmount | number: '1.2-2'" placeholder="MwSt-Betrag"
                   i18n-placeholder="MwSt-Betrag placeholder">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput readonly [value]="object.grossValue | number: '1.2-2'" placeholder="Bruttobetrag"
                   i18n-placeholder="Bruttobetrag placeholder">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput readonly placeholder="Skontobasis" i18n-placeholder="Skontobasis placeholder"
                   [value]="object.cashDiscountBaseAmount | number: '1.2-2'">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput readonly [value]="object.cashDiscountAmount | number: '1.2-2'" placeholder="Skontobetrag"
                   i18n-placeholder="Skontobetrag placeholder">
          </mat-form-field>
          <mat-form-field class="width--sm">
            <input matInput readonly [value]="object.paymentAmount | number: '1.2-2'" placeholder="Zahlungsbetrag"
                   i18n-placeholder="Zahlungsbetrag placeholder">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Texte" i18n-label="Texte label">
      <jo-texts-form-component
        [textsFormGroup]="form.get('texts')"
        [object]="object"
        [isChangeable]="isChangeable">
      </jo-texts-form-component>
    </mat-tab>
    <mat-tab *ngIf="object.header.id" label="Dokumente" i18n-label="Dokumente">
      <section class="tables u-mt-lg">
        <div>
          <jo-document-link-list [object]="object"></jo-document-link-list>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="tabIndex < 2" class="jo-btn-row">
    <button id="btn_cancel" type="button" mat-raised-button (click)="onCancel($event)">
      <span *ngIf="form.dirty" i18n>Abbrechen</span>
      <span *ngIf="!form.dirty" i18n>Zurück</span>
    </button>
    <ng-container *joIfAuthorizedAs="['sales-user']">
      <button id="btn_delete" type="button" mat-raised-button color="warn" (click)="onDelete($event)"
              *ngIf="isChangeable || !form.controls.id.value">
        <span i18n>Löschen</span>
      </button>
      <button id="btn_new" type="button" mat-raised-button (click)="onNew($event)"
              [disabled]="!form.valid || form.dirty">
        <span i18n>Neu</span>
      </button>
      <button id="btn_copy" type="button" mat-raised-button (click)="onCopy($event)"
              [disabled]="!form.valid || form.dirty || !object.header.id">
        <span i18n>Kopieren</span>
      </button>
      <button id="btn_createPdf" type="button" mat-raised-button (click)="onPdf($event)"
              *ngIf="object.header.status === 0 && object.header.billingMethod === 0"
              [disabled]="!form.valid || form.dirty || !object.header.id">
        <span i18n>PDF erzeugen</span>
      </button>
      <button id="btn_send" type="button" mat-raised-button (click)="onEmail($event)"
              *ngIf="isSendable" [disabled]="!form.valid || form.dirty || !object.header.id">
        <span i18n>Senden</span>
      </button>
      <button id="btn_save" type="button" mat-raised-button color="primary" (click)="onSave(form)"
              *ngIf="isChangeable" [disabled]="!form.valid || !form.dirty">
        <span i18n>Speichern</span>
      </button>
    </ng-container>
  </div>
</form>
