<div>
  <h2>Rechnungsempfänger</h2>
  <ul class="test__list">
    <li *ngFor="let receiver of receivers$ | async" class="test__item">
      <div> {{receiver | json}}</div>
    </li>
  </ul>
  <h2>Verträge</h2>
  <ul class="test__list">
    <li *ngFor="let contract of contracts$ | async" class="test__item">
      <div> {{contract | json}}</div>
    </li>
  </ul>
  <h2>Rechnungen</h2>
  <ul class="test__list">
    <li *ngFor="let invoice of invoices$ | async" class="test__item">
      <div> {{invoice | json}}</div>
    </li>
  </ul>
</div>

<div>
  <button (click)="onLoad()">Laden</button>
</div>
<div>
  <button (click)="onUpdate()">Ändern</button>
</div>


