.test__list {
  display: grid;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}

.test__item {

  &:nth-of-type(odd) {
    background-color: #ccc;
  }
}

.test__details {
  margin-top: 6rem;
}

.test__view {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, min-content));
  grid-column-gap: 1rem;
  justify-content: center;
}

.button {
  padding: 2rem 4rem;
  background-color: #ccc;
  border: none;
  color: black;

  &:hover {
    transform: translateY(-3px);
  }
}
