<div> <!--  *ngIf="itemsFormArray.length > 0" -->
  <div class="table-header" fxShow fxHide.lt-md>
    <div class="table-btn">
      <button mat-mini-fab color="primary" *ngIf="isChangeable" (click)="onAdd($event)">
        <mat-icon aria-label="Position hinzufügen">add</mat-icon>
      </button>
    </div>
    <label class="contract-item-description" i18n>Beschreibung</label>
    <label class="contract-item-pricePerUnit" i18n>Preis</label>
    <label class="contract-item-priceUnit" i18n>Einheit</label>
    <label class="contract-item-cashDiscountAllowed" i18n>Skonto erlaubt?</label>
    <label class="contract-item-action"></label>
  </div>
  <div>
    <jo-contract-item-form *ngFor="let item of itemsFormArray.controls; let i = index" class="table-row table-row--editable"
                          [itemGroup]="item"
                          [item]="object.items[i]"
                          [isChangeable]="isChangeable"
                          (changed)="onChanged()"
                          (delete)="onDelete($event)">
    </jo-contract-item-form>
  </div>
  <div class="u-mt-md"fxHide fxShow.lt-md>
    <button mat-raised-button color="primary" *ngIf="isChangeable" (click)="onAdd($event)">
      <span i18n>Position hinzufügen</span>
    </button>
  </div>
</div>
