.table-btn {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.table-header > .table-btn {
  //margin-left: -4px;
  margin-right: 1.2rem;
}

label {
  font-size: 1.1rem;
  opacity: 0.8;
}

.contract-item-id {
  width: 3.2rem;
}

.contract-item-description {
  width: 36.0rem;
}

.contract-item-priceUnit {
  width: 12.0rem;
}

.contract-item-pricePerUnit {
  width: 8.0rem;
}

.contract-item-cashDiscountAllowed {
  width: 4.0rem;
}

.contract-item-action {
  width: 4.0rem;
}


