<mat-card class="jo-card">
  <mat-card-header class="jo-card-header">
    <jo-card-avatar [object]="summary?.object"></jo-card-avatar>
    <mat-card-title>{{ summary?.object?.header.description }}</mat-card-title>
    <mat-card-subtitle>{{ summary?.receiverName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="u-mt-md">
    <div class="jo-card-columns">
      <div class="jo-card-info">
        <div class="jo-card-label"><span i18n>Vertragspartner:</span></div>
        <div>
          <a id="lnk_customerid" [routerLink]="['/invoicing/receivers', summary?.object?.header.customerId]">
            {{summary?.object?.header.customerId}}
          </a>
        </div>
        <div class="jo-card-label"><span i18n>Vertragsbeginn:</span></div>
        <div id="div_contractstart">{{summary?.object?.term.startDate | date }}</div>
        <div class="jo-card-label"><span i18n>Vertragsende:</span></div>
        <div id="div_contractend">{{summary?.object?.term.endDate | date }}</div>
      </div>
      <div class="jo-card-info">
        <div class="jo-card-label"><span i18n>Budget:</span></div>
        <div id="div_budget" class="align-right">{{summary?.object?.header.budget | number: '1.0-0' }}</div>
        <div class="jo-card-label"><span i18n>Umsatz:</span></div>
        <div id="div_revenue" class="align-right">{{summary?.revenue | number: '1.0-0'}}</div>
        <div class="jo-card-label"><span i18n>Letzte Rechnung:</span></div>
        <div *ngIf="summary?.lastInvoiceId">
          <a id="lnk_lastinvoice" [routerLink]="['/invoicing/invoices', summary?.lastInvoiceId]">
            {{summary?.lastInvoiceId}}
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <jo-card-buttons
      [object]="summary.object"
      [isDeletable]="summary.changeable"
      (copy)="onCopy()"
      (delete)="onDelete()">
    </jo-card-buttons>
  </mat-card-actions>
</mat-card>
