@import '../../../sass/variables';

.window {
  margin: 2.5rem 5rem;
  @media only screen and (max-width: $media-sm) {
    margin: 0.5rem 1rem;
  }
}

mat-cell {
  @media only screen and (max-width: $media-sm) {
    font-size: 1.6rem;
  }
}

.mat-row:hover {
  background-color: lightgray;
}

a {
  cursor: pointer;
}

.width--md {
  @media only screen and (max-width: $media-sm) {
    padding-left: 0.5rem;
  }
}
