<mat-card class="jo-card">
  <mat-card-header class="jo-card-header">
    <jo-card-avatar [object]="summary?.object"></jo-card-avatar>
    <mat-card-title>{{ summary?.object?.header.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="u-mt-md">
    <div id="div_status">
      {{summary?.object?.header.status === 0 ? 'aktiv' : 'inaktiv'}}
    </div>
    <div class="jo-card-columns">
      <div class="jo-card-info">
        <div class="jo-card-label">Aktive Verträge:</div>
        <div id="div_activeContracts">{{summary?.activeContractsCount}}</div>
        <div class="jo-card-label">Abgelaufene Verträge:</div>
        <div id="div_expiredContracts">{{summary?.expiredContractsCount}}</div>
        <div class="jo-card-label">Letzter Vertrag</div>
        <div *ngIf="summary?.lastContractId">
          <a id="lnk_lastContract" [routerLink]="['/invoicing/contracts', summary?.lastContractId]">{{summary?.lastContractId}}</a>
        </div>
      </div>
      <div class="jo-card-info">
        <div class="jo-card-label">Fällige Rechnungen:</div>
        <div id="div_dueInvoices" class="align-right">{{summary?.dueInvoicesCount}}</div>
        <div class="jo-card-label">Offene Rechnungen:</div>
        <div id="div_openInvoices" class="align-right">{{summary?.openInvoicesCount}}</div>
        <div class="jo-card-label">Letzte Rechnung:</div>
        <div *ngIf="summary?.lastInvoiceId">
          <a id="lnk_lastInvoice" [routerLink]="['/invoicing/invoices', summary?.lastInvoiceId]">
            {{summary?.lastInvoiceId}}
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <jo-card-buttons
      [object]="summary.object"
      [isDeletable]="summary.deletable"
      (copy)="onCopy()"
      (delete)="onDelete()">
    </jo-card-buttons>
  </mat-card-actions>
</mat-card>

