<mat-card class="jo-card">
  <mat-card-header class="jo-card-header">
    <div mat-card-avatar class="jo-id-avatar"
         [ngClass]="{ 'jo-id-avatar--active': summary?.object?.isActive(),
                    'jo-id-avatar--expired': !summary?.object?.isActive() }">
      {{ summary?.object?.header.id }}
    </div>
    <mat-card-title>{{ summary?.object?.header.description }}</mat-card-title>
    <mat-card-subtitle>{{ summary?.receiverName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="u-mt-md">
    <div class="jo-card-columns">
      <div class="jo-card-info">
        <div class="jo-card-label">Vertragspartner:</div>
        <div>
          <a [routerLink]="['/invoicing/receivers', summary?.object?.header.customerId]">
            {{summary?.object?.header.customerId}}
          </a>
        </div>
        <div class="jo-card-label">Vertragsbeginn:</div>
        <div>{{summary?.object?.header.startDate | date }}</div>
        <div class="jo-card-label">Vertragsende:</div>
        <div>{{summary?.object?.header.endDate | date }}</div>
      </div>
      <div class="jo-card-info">
        <div class="jo-card-label">Budget:</div>
        <div class="align-right">{{summary?.object?.header.budget | number: '1.0-0' }}</div>
        <div class="jo-card-label">Umsatz:</div>
        <div class="align-right">{{summary?.revenue | number: '1.0-0'}}</div>
        <div class="jo-card-label">Letzte Rechnung:</div>
        <div *ngIf="summary?.lastInvoiceId">
          <a [routerLink]="['/invoicing/invoices', summary?.lastInvoiceId]">
            {{summary?.lastInvoiceId}}
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/invoicing/contracts', summary?.object?.header.id]">
      Details
    </a>
    <button mat-button (click)="onCopy()">
      Kopieren
    </button>
    <button mat-button *ngIf="summary?.changeable" (click)="onDelete()">
      Löschen
    </button>
  </mat-card-actions>
</mat-card>
