@import '../../../sass/variables';

.jo-details-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.jo-details {
  @media only screen and (max-width: $media-sm) {
    padding: 1rem 2rem;
    margin: 0.75rem;

    .mat-card-title {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
