<div> <!-- *ngIf="itemsFormArray.length > 0" -->
  <div class="table-header" fxShow fxHide.lt-md>
    <div class="table-btn">
      <ng-container *joIfAuthorizedAs="['sales-user']">
        <button mat-mini-fab color="primary" *ngIf="isChangeable" (click)="onAdd()">
          <mat-icon aria-label="Position hinzufügen">add</mat-icon>
        </button>
      </ng-container>
    </div>
    <label class="invoice-item-contractItemId" i18n>Vertrags- position</label>
    <label class="invoice-item-description" i18n>Beschreibung</label>
    <label class="invoice-item-quantity" i18n>Menge</label>
    <label class="invoice-item-quantityUnit" i18n>Einheit</label>
    <label class="invoice-item-pricePerUnit" i18n>Preis</label>
    <label class="invoice-item-netValue" i18n>Gesamt</label>
    <label class="invoice-item-cashDiscountAllowed" i18n>Skonto erlaubt?</label>
    <label class="invoice-item-action"></label>
  </div>
  <div>
    <jo-invoice-item-form *ngFor="let item of itemsFormArray.controls; let i = index"
                          class="table-row table-row--editable"
                          [itemGroup]="item"
                          [item]="object.items[i]"
                          [contract]="contract"
                          [isChangeable]="isChangeable"
                          (changed)="onChanged()"
                          (delete)="onDelete($event)">
    </jo-invoice-item-form>
  </div>
  <div *joIfAuthorizedAs="['sales-user']" class="u-mt-md" fxHide fxShow.lt-md>
    <button mat-raised-button color="primary" *ngIf="isChangeable" (click)="onAdd($event)" i18n>
      Position hinzufügen
    </button>
  </div>
</div>
