<mat-toolbar color="primary">
  <div fxHide fxShow.lt-md>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="jo-navi-brand">
    <a routerLink="/">
      <img src="/assets/img/jovisco_nur_logo_klein_transparent.png" alt="Logo">
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <div fxShow fxHide.lt-md>
      <ul fxLayout fxLayoutGap="3rem" class="jo-navi-items">
        <ng-container *ngIf="auth$ | async as auth">
          <li *joIfAuthorizedForSales="auth">
            <a [routerLink]="['/invoicing/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" i18n>
              Überblick
            </a>
          </li>
          <li *joIfAuthorizedForSales="auth">
            <a [routerLink]="['/invoicing/receivers']" routerLinkActive="active" i18n> Rechnungsempfänger</a>
          </li>
          <li *joIfAuthorizedForSales="auth">
            <a [routerLink]="['/invoicing/contracts']" routerLinkActive="active" i18n>Verträge</a>
          </li>
          <li *joIfAuthorizedForSales="auth">
            <a [routerLink]="['/invoicing/invoices']" routerLinkActive="active" i18n>Rechnungen</a>
          </li>
          <li *joIfAuthorizedForAdmin="auth">
            <a [routerLink]="['/invoicing/settings']" routerLinkActive="active" i18n>Einstellungen</a>
          </li>
          <li *joIfAuthorizedForAdmin="auth">
            <a [routerLink]="['/auth/users']" routerLinkActive="active" i18n>Benutzer</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div>
      <ul fxLayout fxLayoutGap="3rem" class="jo-navi-items">
        <li *ngIf="!(auth$ | async)">
          <a [routerLink]="['/auth/login']" routerLinkActive="active" i18n>Anmelden</a>
        </li>
        <li *ngIf="(auth$ | async) as auth">
          <button type="button" mat-button [matMenuTriggerFor]="account" class="jo-account-button">
            <img [src]="auth.imageUrl" *ngIf="auth.imageUrl" class="jo-user-img">
            <mat-icon *ngIf="!auth.imageUrl">face</mat-icon>
            <span class="jo-tx-none">&nbsp; {{ auth.email }}</span>
          </button>
          <mat-menu #account="matMenu">
            <a mat-menu-item [routerLink]="['/auth/goodbye']" routerLinkActive="active" i18n>Abmelden</a>
            <a mat-menu-item (click)="onMyProfile()" i18n>Meine Daten</a>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
