@import '../../../sass/variables';

form {
  padding: 1rem 2rem;

  @media only screen and (max-width: $media-sm) {
    padding: 0;
    .mat-dialog-content {
      padding: 1rem;
    }
  }

  .mat-form-field {
    font-size: 1.6rem;
  }
}

.mat-dialog-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.jo-user-img-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.jo-user-img-upload {
  margin-left: 1rem;
}

.jo-user-img-upload.mat-raised-button {
  text-align: left;
}

mat-dialog-actions > .mat-button {
  @media only screen and (max-width: $media-sm) {
    padding: 0;
  }
}

